.react-datepicker-popper {
  z-index: 100;
}

.react-datepicker-wrapper {
  width: 100%;
}

tr:hover a {
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
.container {
  width: 100%;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 5;
}
