.panel {
  margin: 0.75rem 0 0 0;
}

.panel-heading {
  display: flex;
  align-items: center;
}

.head-button {
  margin-left: auto;
}
.small-caption {
  background-color: hsl(0, 0%, 93%);
  color: black;
  font-size: 0.75rem;
  padding: 0.35rem;
  text-align: center;
  border-radius: 2px;
}

.column {
  padding: 0.25rem;
}

.table-wrap {
  position: relative;
}

.fixed-header {
  position: absolute;
  z-index: 10;
}

.responsive-area {
  overflow-y: scroll;
}

.flexbox {
  display: flex;
  flex-direction: row;
}

tr:hover a {
  text-decoration: underline;
}
